<style>
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
 * {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
.align input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.site__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 0;
}
.form input[type="password"], .form input[type="email"], .form input[type="submit"] {
  width: 100%;
}
.form--login {
  color: #606468;
}
.form--login label,
.form--login input[type="email"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}
.form--login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.form--login input[type="email"], .form--login input[type="password"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form--login input[type="email"]:focus, .form--login input[type="email"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
  background-color: #434A52;
}
.form--login input[type="submit"] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
  background-color: #d44179;
}
.form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.text--center {
  text-align: center;
}
.grid__container {
  margin: 0 auto;
  max-width: 20rem;
  width: 90%;
}
.text, .hover {
  color: white;
  font-family: 'Lato';
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 5px;
}
.text span, .hover span {
  font-weight: 300;
}
.hover {
  color: #1a1a1a;
  margin-top: -50px;
  margin-bottom: 25px;
}
ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  padding: 20px;
  cursor: pointer;
  -webkit-transition: background linear 0.5s;
  transition: background linear 0.5s;
  border-bottom: 1px solid #3a8bab;
}
ul.post-grid li:hover {
  background: #3a8bab;
  color: white;
}
ul.post-grid li:hover h3 {
  color: white;
}
.content {
  width: 100%;
  position: relative;
  padding: 20px 40px 20px;
}
h2,
h3 {
  color: #3a8bab;
}
.post {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
  padding-bottom: 30px;
}
.post cite {
  display: inline-block;
  padding: 10px 0;
}
.comments ul {
  margin: 0;
  padding: 0;
}
.comments ul li {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: 1px #79B9D2 solid;
}
.post.ng-hide {
  opacity: 0;
}
.post.ng-hide-add,
.post.ng-hide-remove {
  display: block!important;
}
form {
  width: 100%;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
img {
  max-width: 100%;
}
</style>
<div class="container-fluid">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="blog.selectTab('blog')" class="navbar-brand" href="#">{{blog.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <input type="search" class="form-control" ng-model="searchText"/>
      <ul class="nav nav-pills">
        <li><a ng-click="blog.selectTab('blog')">See All Posts</a></li> 
                  <li><a ng-click="blog.selectTab('new')">Add New Post</a></li>
        
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 
        
        
         
   
          <div class="row">
            <ul class="post-grid" ng-show="isLoggedIn && blog.isSelected('blog')">
          <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)" >
            <h3>{{post.title}}</h3>
            <p>{{post.body[0] | limitTo:70}}...</p>
            <p class="fa fa-comment push-left"> {{post.comments.length}}
            </p>
            <p class="fa fa-heart push-right"> {{post.likes}}
            </p>
          </li>
        </ul>
        <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index) && isLoggedIn">
          <div class="panel panel-primary">
            <div class="panel-heading">
            <h2 class="panel-title">{{post.title}}</h2>
</div>
<div class="panel-body">
            <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
            <div class="post-body">
             <p ng-repeat="paragraph in post.body">
               {{paragraph}}
             </p> 
            </div>
</div>
            
            <div class="panel-footer comments" ng-controller="CommentController as commentCtrl">
              <button class='btn btn-primary' role="button" ng-click="like(post)">
  <div class="text">Like +<span id="value">{{post.likes}}</span></div>
  </button>
      
              <h3>Comments</h3>
              <ul class="list-group" ng-repeat="comment in post.comments">
               <li class="list-group-item">
                 "{{comment.body}}"
                 <cite>- <b>{{comment.author}}</b></cite>
               </li>
              </ul>
              <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" >
              <div class="well well-lg"><h4>Add Comment</h4></div>
                
               
                  <textarea id="post"  class="form-control" ng-model="commentCtrl.comment.body" cols="30" rows="10" required></textarea>
                <label for="">by:</label>
                  <input type="text" ng-model="commentCtrl.comment.author" class="form-control" required placeholder="Name"/>
                  
                  <input type="submit" value="Submit" />
                </form>
            </div>
</div>
        </div>
    
      <div class="align" ng-show="!isLoggedIn">

  <div class="site__container">

    <div class="grid__container">

      <form method="post" ng-submit="login()" class="form form--login">

        <div class="form__field">
          <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
          <input id="login__username" type="email" class="form__input" ng-model="email" placeholder="Email Address" required>
        </div>

        <div class="form__field">
          <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
          <input id="login__password" type="password" class="form__input" ng-model="pass" placeholder="Password" required>
        </div>

        <div class="form__field">
          <input type="submit" value="Sign In">
        </div>

      </form>

      <p class="text--center">Not a member? <a href="#">Sign up now</a> <span class="fontawesome-arrow-right"></span></p>

    </div>

  </div>

</div>
        <div class="form-group post" ng-show="blog.isSelected('new')">
          <h2>Add New Post</h2>
          
          <form name="postForm" ng-submit=" blog.addPost()" novalidate>
                  
                       <div class="input-group">  <span class="input-group-addon">Title</span><input type="text" class="form-control"  ng-model="blog.post.title"/></div>
                 <div class="input-group"> <span class="input-group-addon">Body</span> <textarea class="form-control" ng-model="blog.post.body" ng-list="/\n/" rows="10"></textarea></div>
                 <div class="input-group"><span class="input-group-addon">Featured Image URL</span>
                  <input class="form-control" type="url" ng-model="blog.post.image" placeholder="http://placekitten.com/g/2000/600" /></div>
                 <div class="input-group"> <span class="input-group-addon">by:</span>
                  <input type="text" class="form-control" ng-model="blog.post.author" placeholder="Author Name" required/></div>
                  
                  <input type="submit" class="btn btn-primary" role="button" value="Create Post" />
                </select></form>
          
            </div>
            
          </div>
        </div> 
        
    </div>
</div>
