
<div class="container-fluid">

<div class="nav navbar-header"><h1>Skillbase</h1></div>
 <div class="row">
<div class="col-md-1">
  <a href="/#/Players" class="btn btn-primary btn-block">Login</a>
</div>
<div class="col-md-1">

<a class="btn btn-default btn-block" role="button" href="robloxmobile://placeID=330893648" ng-if="mobile == true"> Alderaanian Assault Mobile</a>

 <a class="btn btn-default" role="button" ng-if="mobile == false" href="https://www.roblox.com/games/330893648/Star-Wars-Saberfront-Alderaanian-Assault#!/game-instances"> Alderaanian Assault for PC</a>
 
 </div>
</div>
</div>
