
<div class="container-fluid">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Saberfront Skillbase</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <input type="search" class="form-control" ng-model="searchText"/>
      <ul class="nav nav-pills">
        <li ng-if="isLoggedIn"><a ng-href="#/blog">Blog</a></li>
         <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      ...
    </ul>
  </li>
       
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class ="jumbotron">
  <h1>Keep up with updates on our Discord Channel</h1>
  <iframe src="https://discordapp.com/widget?id=187570566457327617&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
<div class="jumbotron">
  <h1>Compete with the stats!</h1>
  <p>Skillbase keeps track of your own PVP Scores, Minion Kills, and more!</p>
  <p><a class="btn btn-primary btn-lg" ng-href="#/Player" role="button">Get Started!</a></p>
</div>
<div class="row">
  <ul></ul>
</div>
 <div class="row">
<div class="col-md-1" ng-if="!isLoggedIn ">
  <a href="https://starwarssaberfront.github.io/Skillbase/#/Player" class="btn btn-primary btn-block">Login</a>
</div>
<div class="col-md-1" ng-if="isLoggedIn">

<a class="btn btn-default btn-block" role="button" href="robloxmobile://placeID=330893648" ng-if="mobile == true"> Alderaanian Assault Mobile</a>

 <a class="btn btn-default" role="button" ng-if="mobile == false" href="https://www.roblox.com/games/330893648/Star-Wars-Saberfront-Alderaanian-Assault#!/game-instances"> Alderaanian Assault for PC</a>
 
 </div>
</div>
<script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'YSE1Fg47SrT4MxLWQglDIlOBBgOcPrp6pIXCks06edkxo2DpE4fRFtqZcTKoJnQ8'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/4332?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>
</div>
