<link rel="stylesheet" href="lib/jQm/jquery.mobile-1.4.5.min.css"/>
<script src="lib/jQm/jquery.mobile-1.4.5.min.js"></script>

        <div data-role="page" id="playerView" ng-show="dat">
  <div class="mainInfo">
    <h1>{{ dat.name }}</h1>
    <span>Europe West</span>
    <div class="aboutMe">
      <h3>About</h3>
     {{dat.about}}    </div>
  </div>
  <div class="matchStats">
    <div class="backgroundText">Games</div>
    <canvas id="gameStats" width="180" height="180"/>
  </div>

  <div class="matchStats">
    <div class="backgroundText">Roles</div>
    <canvas id="roleStats" width="180" height="180"/>
  </div>

  <div class="clearFix"></div>

  <div class="col">
    <h2>Favourite Champion</h2>
    <div class="resizing">
      <canvas id="champData"/>
    </div>
  </div>
  <div class="col middle">
    <h2>Time Played</h2>
    <div class="resizing">
      <canvas id="timeData"/>
    </div>
  </div>
  <div class="col">
    <h2>Stats</h2>
    <ul class="playerStats">
      <li><span>Battle Wins:</span>{{dat.wins}}</li>
      <li><span>Overall K/D:</span> 8.45</li>
      <li><span>Minion Kills:</span> 345,428</li>
      <li><span>Turrents Destroyed:</span> 2,350</li>
      <li><span>Gold Collected:</span> 2,486,934</li>
    </ul>
  </div>
</div>

<div data-role="page" id="login" ng-show="!dat">
  <div data-role="header"> <h2>Log in</h2></div>
 

  <form class="login-container">
    <p><input type="email"ng-model="em" placeholder="Email"></p>
    <p><input type="password" ng-model="pass" placeholder="Password"></p>
    <p><input type="submit" ng-click="login()" value="Log in"></p>
  </form>
</div>
    </div>
